In [1]:
def pythonIsEasy(name = "John"):
    return f'{name} says python is easy'

print(pythonIsEasy())

John says python is easy

In [2]:
print(pythonIsEasy("Your mama"))

Your mama says python is easy

In [3]:
a = list(range(5))

while len(a)!=0:
    a.pop()
    print("How to stop this")

How to stop this
How to stop this
How to stop this
How to stop this
How to stop this

In [4]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [6]:
for x in range(3):
    print(x)

0
1
2

In [7]:
a = "Baha"
print(a.index("B"))

0

In [9]:
f = "Football"
f[4:]

'ball'

In [5]:
with open("Unicorn_Companies.csv",mode='r') as file:
    data= file.read()

In [7]:
import pandas as pd
df = pd.read_csv('Unicorn_Companies.csv')
df.head()

     Company  ...                                   Select Investors
0  Bytedance  ...  Sequoia Capital China, SIG Asia Investments, S...
1     SpaceX  ...  Founders Fund, Draper Fisher Jurvetson, Rothen...
2      SHEIN  ...  Tiger Global Management, Sequoia Capital China...
3     Stripe  ...        Khosla Ventures, LowercaseCapital, capitalG
4     Klarna  ...  Institutional Venture Partners, Sequoia Capita...

[5 rows x 10 columns]